---
import SidebarText from "../components/Elements/SidebarText.astro";
import Hero from "../components/Hero.astro";
import MainHead from "../components/MainHead.astro";
import { Icon } from 'astro-icon'
import * as AboutMe from "../content/about-me.md";

const hobbies = [
	{
		label: "Coding",
		icon: 'mdi:code'
	},
	{
		label: "Fitness",
		icon: 'fa-solid:dumbbell'
	},
	{
		label: "Killua",
		icon: 'fa-solid:dog'
	},
	{
		label: "Gaming",
		icon: 'maki:gaming'
	},
	{
		label: "Videography",
		icon: 'carbon:video-filled'
	},
	{
		label: "Cooking",
		icon: 'emojione-monotone:fork-and-knife'
	},
	
]

---

<html lang="en">
	<head>
		<MainHead />
	</head>
	<body>
		<Hero pageTitle="About" reverse={true}>
			<div slot='side-content'>
				<div class="text-emerald-100 text-md mb-2">Hobbies</div>
				<div
					class="
						before:absolute
						before:content-['']
						before:-top-[2px]
						before:left-0
						before:w-[4px]
						before:h-[4px]
						before:rounded-full
						before:bg-white
						after:absolute
						after:content-['']
						after:-top-[2px]
						after:right-0
						after:w-[4px]
						after:h-[4px]
						after:rounded-full
						after:bg-white
						relative
						w-[100px]
						h-[1px]
						bg-white
						-ml-2"
				></div>
				{
					hobbies.map((item: any, index: number) => (
						<div class={`p-4 text-white transition-all hover:text-emerald-300 flex items-center gap-4 ${index !== (hobbies.length - 1) ? "border-b" : ""} border-emerald-700`}>
							<span class="text-3xl">
								<Icon name={item.icon} class='w-[20px]' />
							</span>{item.label}
						</div>
					))
				}
			</div>
			<div slot="main-content" class="md:pr-4 w-full h-full">
				<div class="flex flex-col xl:flex-row gap-8 px-4 w-full">
					<div class='text-white project-details flex-1'>
						<AboutMe.Content />
					</div>
					<div class='mb-8 max-w-fit mx-auto'>
						<img src='/assets/about_1.jpg' alt='Profile photo' class="xl:max-w-sm" />
						<div class="text-white p-4 bg-[#1c1c1ce0] w-full">Me, Kairy, and Killua!</div>
					</div>
				</div>
			</div>
		</Hero>
	</body>
</html>
