---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Hero from '../components/Hero.astro';
import Diamond from '../components/Elements/Diamond.astro';
import SidebarTable from '../components/Elements/SidebarTable.astro';
import Certificates from '../components/Certificates';
import { Icon } from 'astro-icon'
import DiamondNew from '../components/Elements/DiamondNew.astro';

const skills = [
	{
		label: "React",
		value: "2 Years",
	},
	{
		label: "TypeScript",
		value: "2 Years",
	},
	{
		label: "JQuery",
		value: "4 Years"
	},
	{
		label: "PHP",
		value: "4 Years",
	},
	{
		label: "Graphic Design",
		value: "8 Years",
	},
	{
		label: "Video Production",
		value: "8 Years",
	},
];

---

<html lang="en">
	<head>
		<MainHead	/>
	</head>
	<body>
		<Hero pageTitle={'Home'} reverse={true}>
			<div slot='side-content'>
				<SidebarTable heading='Skills' name='skills' items={skills} />
				<div>
					<div class="text-emerald-100 text-md mb-2">Certificates</div>
					<div
						class="
							before:absolute
							before:content-['']
							before:-top-[2px]
							before:left-0
							before:w-[4px]
							before:h-[4px]
							before:rounded-full
							before:bg-white
							after:absolute
							after:content-['']
							after:-top-[2px]
							after:right-0
							after:w-[4px]
							after:h-[4px]
							after:rounded-full
							after:bg-white
							relative
							w-[100px] 
							h-[1px] 
							bg-white 
							-ml-2"
					></div>
					<div class="text-white">
						<Certificates client:load/>
					</div>
				</div>
			</div>
			<div slot='main-content' class='w-full min-h-full flex justify-center items-center md:items-start overflow-x-hidden overflow-y-hidden'>
				<div class="flex flex-col justify-center items-center gap-8 py-8">
					<DiamondNew heading={'Carlos D. Montero'} subheading={'Full Stack Web Developer'} tags={[]} icon="cdmvfx">
						<img
							slot='background'
							src="/assets/profile_photo.webp"
							class="absolute top-[10%] left-[12%] w-[70%]"
							alt=""
						/>
					</DiamondNew>
					<div class="text-white max-w-xl lg:max-w-6xl text-lg md:text-xl lg:text-2xl xl:text-2xl text-center font-thin px-4">
						Hi, I'm Carlos. I'm a full stack web developer looking to improve my skillset in the complete development spectrum: everything from infrastructure to user experience.
					</div>
					<a class="btn tracking-widest text-sm text-white bg-emerald-600 outline outline-1 outline-emerald-400 outline-offset-1 px-2 py-2 inline-block transition hover:bg-emerald-500" href="/about">Read full bio</a>
				</div>
			</div>
		</Hero>
	</body>
</html>
