---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Hero from '../components/Hero.astro';
import Diamond from '../components/Elements/Diamond.astro';
import SidebarTable from '../components/Elements/SidebarTable.astro';

const skills = [
	{
		label: "React",
		value: "2 Years",
	},
	{
		label: "TypeScript",
		value: "2 Years",
	},
	{
		label: "JQuery",
		value: "4 Years"
	},
	{
		label: "PHP",
		value: "4 Years",
	},
	{
		label: "Graphic Design",
		value: "8 Years",
	},
	{
		label: "Motion Graphics",
		value: "8 Years",
	},
	{
		label: "Video Production",
		value: "8 Years",
	},
];

---

<html lang="en">
	<head>
		<MainHead	/>
	</head>
	<body>
		<Hero pageTitle={'Home'}>
			<SidebarTable slot='side-content' heading='Skills' name='skills' items={skills} />
			<div slot='main-content' class='flex justify-center items-center w-full overflow-hidden h-full'>
				<Diamond heading={'Carlos D. Montero'} subheading={'Full Stack Web Developer'} tags={['React', 'NodeJS', 'PHP']} icon="cdmvfx">
					<img
						slot='background'
						src="/assets/profile_photo_2.png"
						class="absolute -rotate-45 z-0 opacity-100"
						alt=""
					/>
				</Diamond>
			</div>
		</Hero>
	</body>
</html>
